@{
    Layout = "_Layout";
}

<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-9 main-chart">
                <!--CUSTOM CHART START -->
                <div class="border-head">
                    <h3>Resumen Pacientes</h3>
                </div>

            </div>
            <!-- /col-lg-9 END SECTION MIDDLE -->
            <!-- **********************************************************************************************************************************************************
                RIGHT SIDEBAR CONTENT
                *********************************************************************************************************************************************************** -->
            <div class="col-lg-3 s">
                <!--CUPOS-->
                <h3></h3>
                <div>
                    <div class="darkblue-panel pn">
                        <div class="darkblue-header">
                            <h5>CUPOS</h5>
                        </div>
                        <h1><i class="fa fa-hotel fa-2x"></i></h1>
                        <footer>
                            <div class="centered">
                                <h5><i class="fa fa-medkit"></i> Total: 12 </h5>
                                <h5><i class="fa fa-group"></i> Ocupados: 10 </h5>
                                <h5><i class="fa fa-male"></i> Disponibles: 2 </h5>
                            </div>
                        </footer>
                    </div>
                    <!--  /darkblue panel -->
                </div>

                <h3></h3>
                <!-- CALENDAR-->
                <div id="calendar" class="mb">
                    <div class="panel green-panel no-margin">
                        <div class="panel-body">
                            
                            <div id="my-calendar"></div>
                        </div>
                    </div>
                </div>
                <!-- / calendar -->
            </div>
            <!-- /col-lg-3 -->
        </div>
        <!-- /row -->
    </section>
</section>